<div
  class="wrapper"
  style="
    background-image: url('../../../assets/images/bg_sign-up.jpg');
    background-position: left center;
  "
>
  <div class="inner">
    <div class="image-holder">
      <img src="../../../assets/images/sign-up_form.jpg" alt="" />
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onFormSubmit()">
      <h3>Registration Form</h3>
      <div class="form-wrapper">
        <input
          type="text"
          placeholder="Username"
          class="form-control"
          formControlName="username"
        />
      </div>
      <div class="form-wrapper">
        <input
          type="text"
          placeholder="Email Address"
          class="form-control"
          formControlName="email"
        />
      </div>
      <div class="form-wrapper">
        <input
          type="password"
          placeholder="Password"
          class="form-control"
          formControlName="password"
        />
      </div>
      <div class="form-wrapper">
        <input
          type="password"
          placeholder="Confirm Password"
          class="form-control"
          formControlName="confirmPassword"
        />
      </div>
      <div class="d-flex justify-content-center btns">
        <button
          class="register-btn"
          type="submit"
          [disabled]="signUpForm.invalid"
        >
          Register
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="signUpForm.reset()"
          [disabled]="!signUpForm.dirty"
        >
          <fa-icon [icon]="refreshIcon"></fa-icon>
        </button>
      </div>
      <ul
        *ngIf="signUpForm.invalid && signUpForm.dirty"
        class="mt-4"
        style="color: red"
      >
        <li
          *ngIf="signUpForm.controls.username.errors?.['required'] && signUpForm.controls.username.touched"
        >
          The username field is mandatory
        </li>
        <li *ngIf="signUpForm.controls.username.errors?.['pattern']">
          Username has unsupported symbols
        </li>
        <li *ngIf="signUpForm.controls.username.errors?.['minlength']">
          Username should be at least 6 characters long. Now it is
          {{ signUpForm.value.username?.length }}
        </li>
        <li *ngIf="signUpForm.controls.username.errors?.['maxlength']">
          Username should be maximum 20 characters long. Now it is
          {{ signUpForm.value.username?.length }}
        </li>
        <li
          *ngIf="signUpForm.controls.email.errors?.['required'] && signUpForm.controls.email.touched"
        >
          The email field is mandatory
        </li>
        <li *ngIf="signUpForm.controls.email.errors?.['email']">
          {{ signUpForm.value.email + " is not an email" }}
        </li>
        <li *ngIf="signUpForm.controls.email.errors?.['minlength']">
          Email should be at least 6 characters long. Now it is
          {{ signUpForm.value.email?.length }}
        </li>
        <li
          *ngIf="signUpForm.controls.password.errors?.['required'] && signUpForm.controls.password.touched"
        >
          The password field is mandatory
        </li>
        <li *ngIf="signUpForm.controls.password.errors?.['minlength']">
          Password should be at least 6 characters long. Now it is
          {{ signUpForm.value.password?.length }}
        </li>
        <li *ngIf="signUpForm.controls.password.errors?.['maxlength']">
          Password should be maximum 20 characters long. Now it is
          {{ signUpForm.value.password?.length }}
        </li>
        <li
          *ngIf="signUpForm.value.password !== signUpForm.value.confirmPassword"
        >
          The passwords should be the same
        </li>
      </ul>
      <div *ngIf="error$ | async as errorMessage" class="mt-4 error-message">
        <p><span class="fw-bold">Error:</span> {{ errorMessage }}</p>
      </div>
    </form>
  </div>
</div>
