<div
  class="wrapper"
  style="
    background-image: url('../../../assets/images/bg_sign-up.jpg');
    background-position: left center;
  "
>
  <div class="inner">
    <div class="image-holder">
      <img
        src="../../../assets/images/sign-up_form-resized.jpg"
        alt="form-img"
      />
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onFormSubmit()">
      <div *ngIf="!isLogging; else loading">
        <h3>Registration Form</h3>
        <div class="form-wrapper">
          <input
            type="text"
            placeholder="Username"
            class="form-control"
            formControlName="username"
            [class.error]="
              (signUpForm.controls.username.touched &&
                signUpForm.controls.username.invalid) ||
              (signUpForm.controls.username.dirty &&
                signUpForm.controls.username.invalid)
            "
          />
        </div>
        <div class="form-wrapper">
          <input
            type="text"
            placeholder="Email Address"
            class="form-control"
            formControlName="email"
            [class.error]="
              (signUpForm.controls.email.touched &&
                signUpForm.controls.email.invalid) ||
              (signUpForm.controls.email.dirty &&
                signUpForm.controls.email.invalid)
            "
          />
        </div>
        <div class="form-wrapper">
          <input
            type="password"
            placeholder="Password"
            class="form-control"
            formControlName="password"
            [class.error]="
              (signUpForm.controls.password.touched &&
                signUpForm.controls.password.invalid) ||
              (signUpForm.controls.password.dirty &&
                signUpForm.controls.password.invalid) ||
              signUpForm.value.password !== signUpForm.value.confirmPassword
            "
          />
        </div>
        <div class="form-wrapper">
          <input
            type="password"
            placeholder="Confirm Password"
            class="form-control"
            formControlName="confirmPassword"
            [class.error]="
              (signUpForm.controls.confirmPassword.touched &&
                signUpForm.controls.confirmPassword.invalid) ||
              (signUpForm.controls.confirmPassword.dirty &&
                signUpForm.controls.confirmPassword.invalid) ||
              signUpForm.value.password !== signUpForm.value.confirmPassword
            "
          />
        </div>
        <div class="d-flex justify-content-center align-items-center btns">
          <a [routerLink]="['/']" class="btn btn-link">Go to home</a>
          <button
            class="btn btn-dark p-3"
            type="submit"
            [disabled]="
              signUpForm.invalid ||
              signUpForm.value.password !== signUpForm.value.confirmPassword
            "
          >
            Register
          </button>
          <button
            type="button"
            class="btn btn-primary reset__btn p-3"
            (click)="signUpForm.reset()"
            [disabled]="!signUpForm.dirty"
          >
            <fa-icon [icon]="refreshIcon"></fa-icon>
          </button>
        </div>
        <ul
          *ngIf="
            (signUpForm.invalid && signUpForm.touched) ||
            (signUpForm.invalid && signUpForm.dirty) ||
            signUpForm.value.password !== signUpForm.value.confirmPassword
          "
          class="mt-4"
          style="color: red"
        >
          <li
            *ngIf="signUpForm.controls.username.errors?.['required'] && signUpForm.controls.username.touched"
          >
            The username field is mandatory
          </li>
          <li *ngIf="signUpForm.controls.username.errors?.['pattern']">
            Username has unsupported symbols
          </li>
          <li *ngIf="signUpForm.controls.username.errors?.['minlength']">
            Username should be at least 6 characters long. Now it is
            {{ signUpForm.value.username?.length }}
          </li>
          <li *ngIf="signUpForm.controls.username.errors?.['maxlength']">
            Username should be maximum 20 characters long. Now it is
            {{ signUpForm.value.username?.length }}
          </li>
          <li
            *ngIf="signUpForm.controls.email.errors?.['required'] && signUpForm.controls.email.touched"
          >
            The email field is mandatory
          </li>
          <li *ngIf="signUpForm.controls.email.errors?.['email']">
            {{ signUpForm.value.email + " is not an email" }}
          </li>
          <li
            *ngIf="signUpForm.controls.password.errors?.['required'] && signUpForm.controls.password.touched"
          >
            The password field is mandatory
          </li>
          <li *ngIf="signUpForm.controls.password.errors?.['minlength']">
            Password should be at least 6 characters long. Now it is
            {{ signUpForm.value.password?.length }}
          </li>
          <li *ngIf="signUpForm.controls.password.errors?.['maxlength']">
            Password should be maximum 20 characters long. Now it is
            {{ signUpForm.value.password?.length }}
          </li>
          <li
            *ngIf="
              signUpForm.value.password !== signUpForm.value.confirmPassword
            "
          >
            The passwords should be the same
          </li>
        </ul>
        <div *ngIf="error$ | async as errorMessage" class="mt-4 error-message">
          <p><span class="fw-bold">Error:</span> {{ errorMessage }}</p>
        </div>
      </div>
      <ng-template #loading>
        <div
          class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
        >
          <app-loader></app-loader>
        </div>
      </ng-template>
    </form>
  </div>
</div>
