<div class="card mb-3" style="width: 100%">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        ngSrc="/assets/images/user-information-general-img.jpg"
        class="img-fluid rounded-start"
        alt="general-img"
        width="500"
        height="320"
        priority="lazy"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">General information</h5>
        <p class="card-text">
          In this section, you'll discover basic user information and more.
        </p>
        <p class="card-text">
          <small class="text-muted"
            >Photo by
            <a
              href="https://unsplash.com/@brookecagle?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
              target="_blank"
              >Brooke Cagle</a
            >
            on
            <a
              href="https://unsplash.com/photos/three-people-sitting-in-front-of-table-laughing-together-g1Kr4Ozfoac?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
              target="_blank"
              >Unsplash</a
            >
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
