<div class="ftco-section">
  <div class="col-md-12">
    <div class="wrapper">
      <div class="row mb-5">
        <div class="col-md-7">
          <div class="contact-wrap w-100 p-md-5 p-4">
            <h3 class="mb-4">Contact Us</h3>
            <form class="contactForm">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label class="label" for="name">Full Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      id="name"
                      placeholder="Name"
                    />
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label class="label" for="email">Email Address</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <label class="label" for="subject">Subject</label>
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject"
                      placeholder="Subject"
                    />
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <label class="label" for="#">Message</label>
                    <textarea
                      name="message"
                      class="form-control"
                      id="message"
                      cols="30"
                      rows="4"
                      placeholder="Message"
                      style="resize: none"
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                      Send message
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5">
          <img
            class="contact-us__img"
            src="/assets/images/contact-us.jpg"
            alt="contact-us img"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="dbox w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <fa-icon
                [icon]="icons.faLocationDot"
                class="text-white"
              ></fa-icon>
            </div>
            <div class="text">
              <p><span>Address:</span> Postępu 16A, 02-676 Warszawa, Polska</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="dbox w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <fa-icon [icon]="icons.faPhone" class="text-white"></fa-icon>
            </div>
            <div class="text">
              <p>
                <span>Phone:</span>
                <a href="tel:+380931926350"> +48 225 520 000</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="dbox w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <fa-icon [icon]="icons.faAt" class="text-white"></fa-icon>
            </div>
            <div class="text">
              <p>
                <span>Email:</span>
                dimka670020040&#64;gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="dbox w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <fa-icon [icon]="icons.faGlobe" class="text-white"></fa-icon>
            </div>
            <div class="text">
              <p>
                <span>Website: </span>
                <a href="https://github.com/ShadowDrake21" target="_blank"
                  >GitHub.com</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
