<header
  class="header position-fixed w-100 top-0 border-bottom border-secondary"
>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container navbar-container">
      <a class="navbar-brand" [routerLink]="['/']">NgRxShop by Drake21</a>
      <button
        #navbarToggler
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul #navbarList class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [routerLink]="['/home']"
              [routerLinkActive]="['active-link']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [routerLink]="['/products']"
              [routerLinkActive]="['active-link']"
              >Products</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [routerLink]="['/categories']"
              [routerLinkActive]="['active-link']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Categories</a
            >
          </li>
        </ul>

        <div
          class="d-flex justify-content-center flex-column flex-md-row pt-2 pt-lg-0"
        >
          <div class="d-flex flex-column flex-md-row w-100">
            <input
              class="form-control me-2 mb-md-0 mb-2 position-relative"
              type="search"
              aria-label="Search"
              typeaheadOptionField="name"
              [(ngModel)]="searchName"
              [typeahead]="suggestions$"
              [typeaheadAsync]="true"
              [typeaheadSelectFirstItem]="true"
              (typeaheadNoResults)="typeaheadNoResults($event)"
              [adaptivePosition]="true"
              [isAnimated]="true"
              placeholder="Enter product name"
            />
            <button
              class="btn btn-outline-secondary"
              type="submit"
              (click)="onSearch()"
              [disabled]="noResult || !searchName?.length"
            >
              Search
            </button>
          </div>
          <div
            class="d-flex ms-md-4 header-btns justify-content-center pt-2 pt-lg-0 ms-0"
          >
            <button
              class="btn btn-link text-dark position-relative"
              (click)="openModalWithComponent()"
            >
              <div class="cart-count" *ngIf="(user$ | async)?.online">
                {{ (cartProducts$ | async)?.length ?? 0 }}
              </div>
              <fa-icon [icon]="cart"></fa-icon></button
            ><button
              class="btn btn-link text-dark"
              [class]="{ 'd-none': !(user$ | async)?.online }"
              [routerLink]="['/user-information']"
            >
              <fa-icon [icon]="profile"></fa-icon></button
            ><button
              class="btn btn-link text-dark"
              (click)="onSignIn()"
              [class]="{ 'd-none': (user$ | async)?.online }"
            >
              <fa-icon [icon]="signIn"></fa-icon>
            </button>
            <button
              class="btn btn-link text-dark"
              (click)="onSignOut()"
              [class]="{ 'd-none': !(user$ | async)?.online }"
            >
              <fa-icon [icon]="signOut"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
