<div *ngIf="profileData | async as data">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Profile: {{ data.user.email }}</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex" style="gap: 25px">
      <div class="flex-shrink-0" style="width: 225px">
        <img [src]="data.user.photoUrl" alt="user img" style="width: 100%" />
      </div>
      <div class="w-100">
        <div class="d-flex align-items-center" style="gap: 50px">
          <h3 class="fst-italic fw-lighter fs-4 pb-2">
            {{ data.user.email | truncateText : 60 }}
          </h3>
          <p>
            <span class="fw-bold"> Email verified: </span>
            {{ data.user.emailVerified }}
          </p>
        </div>
        <p class="fw-bold">
          {{ data.user.displayName }}
        </p>
        <hr />
        <p>
          <span class="fw-bold"> Auth time: </span>
          {{ data.user.authTime | date : "medium" }}
        </p>
        <p>
          <span class="fw-bold"> Auth expiration time: </span>
          {{ data.user.authExpirationTime | date : "medium" }}
        </p>
        <p>
          <span class="fw-bold"> Sign in provider: </span>
          {{ data.user.provider }}
        </p>
        <div>
          <p>
            <span class="fw-bold">Auth time:</span>
            {{ data.user.authTime | date : "medium" }}
          </p>
          <p>
            <span class="fw-bold">Number of purchases:</span>
            {{ data.transactions.transactionsCount }}
          </p>
          <p>
            <span class="fw-bold">Total price of purchases:</span>
            {{ data.transactions.transactionsPrice }} zł
          </p>
          <p>
            <span class="fw-bold">Number of favourites:</span>
            {{ data.favoritesCount }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
      Close
    </button>
  </div>
</div>
<!-- <div class="d-flex" style="gap: 25px">
  <div class="flex-shrink-0" style="width: 225px">
    <img [src]="userCredential.photoURL" alt="user img" style="width: 100%" />
  </div>
  <div class="w-100">
    <div class="d-flex align-items-center" style="gap: 50px">
      <h3 class="fst-italic fw-lighter fs-4 pb-2">
        {{ userCredential.email | truncateText : 60 }}
      </h3>
      <p>
        <span class="fw-bold"> Email verified: </span>
        {{ user.userCredential?.tokenResult?.claims?.['email_verified'] }}
      </p>
    </div>
    <p class="fw-bold">
      {{ userCredential.displayName }}
    </p>
    <hr />
    <p>
      <span class="fw-bold"> Auth time: </span>
      {{ user.userCredential?.tokenResult?.authTime | date : "medium" }}
    </p>
    <p>
      <span class="fw-bold"> Auth expiration time: </span>
      {{ user.userCredential?.tokenResult?.expirationTime | date : "medium" }}
    </p>
    <p>
      <span class="fw-bold"> Sign in provider: </span>
      {{ user.userCredential?.tokenResult?.signInProvider }}
    </p>
    <div>
      <p>
        <span class="fw-bold">Auth time:</span>
        {{ user.userCredential?.tokenResult?.authTime | date : "medium" }}
      </p>
      <p>
        <span class="fw-bold">Number of purchases:</span>
        {{ (transactionsData$ | async)?.count ?? 0 }}
      </p>
      <p>
        <span class="fw-bold">Total price of purchases:</span>
        {{ (transactionsData$ | async)?.price ?? 0 }} zł
      </p>
      <p>
        <span class="fw-bold">Number of favourites:</span>
        {{ (favorites$ | async)?.length }}
      </p>

      <p>
        <span class="fw-bold">Last viewed product:</span> Sleek Futuristic
        Electric Bicycle
      </p>

    </div>
  </div>
</div> -->
