<div>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Profile: {{ profileData!.user.email }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="onHide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div
      class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start sidebar-profile-modal__body"
    >
      <div class="flex-shrink-0 sidebar-profile-modal__image-wrapper">
        <img
          [src]="profileData!.user.photoUrl"
          alt="user img"
          style="width: 100%"
        />
      </div>
      <div class="w-100 text-center text-lg-start">
        <div
          class="d-flex align-items-center flex-column flex-lg-row sidebar-profile-modal__email"
        >
          <h3
            class="fst-italic fw-lighter fs-4 pb-2"
            style="word-break: break-all"
          >
            {{ profileData!.user.email | truncateText : 60 }}
          </h3>
          <p>
            <span class="fw-bold"> Email verified: </span>
            {{ profileData!.user.emailVerified }}
          </p>
        </div>
        <p class="fw-bold">
          {{ profileData!.user.displayName }}
        </p>
        <hr />
        <p>
          <span class="fw-bold"> Auth time: </span>
          {{ profileData!.user.authTime | date : "medium" }}
        </p>
        <p>
          <span class="fw-bold"> Auth expiration time: </span>
          {{ profileData!.user.authExpirationTime | date : "medium" }}
        </p>
        <p>
          <span class="fw-bold"> Sign in provider: </span>
          {{ profileData!.user.provider }}
        </p>
        <div>
          <p>
            <span class="fw-bold">Auth time:</span>
            {{ profileData!.user.authTime | date : "medium" }}
          </p>
          <p>
            <span class="fw-bold">Number of purchases:</span>
            {{ profileData!.transactions.transactionsCount }}
          </p>
          <p>
            <span class="fw-bold">Total price of purchases:</span>
            {{ profileData!.transactions.transactionsPrice }} zł
          </p>
          <p>
            <span class="fw-bold">Number of favourites:</span>
            {{ profileData!.favoritesCount }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onHide()">
      Close
    </button>
  </div>
</div>
