<div class="w-100">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  @if ((user$|async)?.online) {
  <div class="modal-body" *ngIf="products$ | async as products">
    <ng-container *ngIf="products.length; else emptyCart">
      <div
        class="d-flex modal-product mb-2 position-relative"
        *ngFor="let product of products"
      >
        <div>
          <img
            [src]="product.images[0] | clearURL | safeHTML"
            class="modal-product-img"
          />
        </div>
        <div>
          <h4>{{ product.title | truncateText : 40 }}</h4>
          <div class="fs-5 mb-1">
            Category:
            <span class="fw-bolder">{{ product.category.name }}</span>
          </div>
          <div class="d-flex align-items-center modal-quantity__btns mt-2 mb-3">
            <button
              type="button"
              class="btn btn-danger"
              (click)="onDecreaseQuantity(product.id)"
            >
              -
            </button>
            <div class="fs-5">
              Quantity:
              <span class="fw-bolder">{{ product.quantity }}</span>
            </div>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onIncreaseQuantity(product.id)"
            >
              +
            </button>
          </div>
          <div class="d-flex modal-product__prices fs-5">
            <div>
              Price for 1 item:
              <span class="fw-bolder">{{
                product.price | currency : "PLN"
              }}</span>
            </div>
            <div>
              Total price:
              <span class="fw-bolder">{{
                product.price * product.quantity | currency : "PLN"
              }}</span>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="modal-product__remove btn-close close position-absolute"
          aria-label="Close"
          (click)="onRemoveProduct(product.id)"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
    </ng-container>
  </div>

  <ng-template #emptyCart>
    <div class="modal-body">
      <h5>Your cart is a bit empty right here...</h5>
    </div>
  </ng-template>
  } @else {
  <div class="modal-body">
    <h5>To use a cart, you need to sign in.</h5>
  </div>
  }
  <div class="modal-footer d-flex flex-column align-items-end">
    <div
      class="d-flex justify-content-between w-100"
      *ngIf="(products$ | async)?.length"
    >
      <h4 class="me-4">
        Total price: {{ totalPrice$ | async | currency : "PLN" }}
      </h4>
      <div class="d-flex" style="gap: 20px">
        <button
          type="button"
          class="btn btn-link"
          (click)="onOpenSelectModal(selectModal)"
          [class.d-none]="!isShippingDataExist"
        >
          Select checkout data
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="onGoToCheckout()"
        >
          Go to checkout
        </button>
      </div>
    </div>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
      {{ closeBtnName }}
    </button>
  </div>

  <ng-template #selectModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Select your definded shipping data</h4>
      <span
        >Stripe does not support such functionality, so it is just facade
        implementation</span
      >
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="onHideSelectModal()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form
        [formGroup]="selectShippingDataForm"
        (ngSubmit)="onSelectFormSubmit()"
      >
        <div
          class="form-group"
          *ngIf="userDeliveryAddresses$ | async as deliveryAddresses"
        >
          <label for="deliveryAddress">Country</label>
          <select
            class="form-select"
            id="deliveryAddress"
            formControlName="deliveryAddressId"
          >
            <option selected disabled value="0">Delivery Address</option>
            <option
              *ngFor="let deliveryAddress of deliveryAddresses"
              [value]="deliveryAddress.id"
            >
              {{
                deliveryAddress.name +
                  ", " +
                  deliveryAddress.phone +
                  ", " +
                  deliveryAddress.address.country +
                  ", " +
                  deliveryAddress.address.city +
                  ", " +
                  deliveryAddress.address.line1 +
                  ", " +
                  deliveryAddress.address.line2 +
                  ", " +
                  deliveryAddress.address.postal_code
              }}
            </option>
          </select>
        </div>
        <div class="form-group" *ngIf="userCreditCards$ | async as cards">
          <label for="deliveryAddress">Card</label>
          <select class="form-select" id="card" formControlName="cardId">
            <option selected disabled value="0">Card</option>
            <option *ngFor="let card of cards" [value]="card.id">
              {{
                "····" +
                  card.cardNumber.slice(
                    card.cardNumber.length - 4,
                    card.cardNumber.length
                  ) +
                  ", " +
                  card.cardHolder +
                  ", " +
                  card.expirationMonth +
                  "/" +
                  card.expirationYear +
                  ", " +
                  "··" +
                  card.cvc.slice(card.cvc.length - 1, card.cvc.length)
              }}
            </option>
          </select>
        </div>
        <div class="d-flex pt-3 w-100" style="gap: 25px">
          <button type="submit" class="btn btn-primary w-100">Select</button>
          <button
            type="button"
            class="btn btn-danger w-100"
            (click)="onResetSelectForm()"
          >
            Reset
          </button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
