.modal {
  &-product {
    gap: 40px;
  }

  &-product-img {
    width: 200px;
  }

  &-quantity__btns {
    gap: 25px;
  }

  &-product__prices {
    gap: 25px;
  }

  &-product__remove {
    top: 0;
    right: 0;
  }
}

@media (max-width: 992px) {
  .modal-product {
    gap: 15px;
  }

  .modal-product-img {
    max-width: 400px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .modal-product__prices {
    gap: 15px;
  }
}

@media (max-width: 992px) {
  .modal-product {
    gap: 15px;
  }

  .modal-product-img {
    max-width: 400px;
    width: 100%;
  }
}

@media (max-width: 440px) {
  .modal-btns {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .select-modal__title {
    display: none;
  }
}
