<div>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Reset Password</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="!afterSubmit; else success">
    <p>If you have forgotten your password you can reset it here.</p>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <input
          class="form-control input-lg"
          placeholder="E-mail Address"
          name="email"
          type="email"
          required
          ngModel
          #email="ngModel"
          email
        />
      </div>
      <button
        type="submit"
        class="btn btn-dark w-100 mt-3"
        [disabled]="f.invalid"
      >
        Reset password
      </button>
    </form>
  </div>
  <ng-template #success
    ><div class="modal-body">
      <p class="text-center text-md-start">
        Password reset link was sent to your email! Check out your email and set
        a new password.
      </p>
    </div>
  </ng-template>
  <div class="modal-footer" *ngIf="!afterSubmit">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
      {{ closeBtnName }}
    </button>
  </div>
</div>
