<div>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Available providers</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  @if(!isLogging) {
  <div class="modal-body">
    @if(!errorMessage) {
    <p>
      This email has already been used and it connected to the next provider:
    </p>

    } @else {
    <p class="text-danger">{{ errorMessage }}</p>
    } @if(availableProviders.length) { @for( provider of availableProviders;
    track $index) {
    <div>
      @if(provider === 'password') {
      <form [formGroup]="signInForm" (ngSubmit)="onFormSubmit()">
        <div
          class="form-group first"
          [class.formError]="
            signInForm.controls.email.dirty && signInForm.controls.email.invalid
          "
        >
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="Email"
            formControlName="email"
          />
        </div>

        <div
          class="form-group last mb-3"
          [class.formError]="
            signInForm.controls.password.dirty &&
            signInForm.controls.password.invalid
          "
        >
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <available-providers-modal-form-error-messages [form]="signInForm" />
        <div class="d-flex mb-5 align-items-center justify-content-between">
          <label class="control control--checkbox mb-0"
            ><span class="caption">Remember me</span>
            <input
              type="checkbox"
              checked="checked"
              formControlName="rememberMe"
            />
            <div class="control__indicator"></div>
          </label>
        </div>

        <button
          type="submit"
          class="btn btn-block btn-primary w-100"
          [disabled]="signInForm.invalid"
        >
          Sign In
        </button>
      </form>
      } @if(provider === 'facebook.com') {
      <div class="social-login">
        <button
          type="button"
          class="facebook btn d-flex justify-content-center align-items-center"
          (click)="signInWith('facebook')"
        >
          <fa-icon [icon]="icons.faFacebookF" class="me-3"></fa-icon> Login with
          Facebook
        </button>
      </div>
      } @if(provider === 'twitter.com') {
      <div class="social-login">
        <button
          type="button"
          class="twitter btn d-flex justify-content-center align-items-center"
          (click)="signInWith('twitter')"
        >
          <fa-icon [icon]="icons.faXTwitter" class="me-3"></fa-icon> Login with
          X (initially known as Twitter)
        </button>
      </div>
      } @if(provider === 'google.com') {
      <div class="social-login">
        <button
          type="button"
          class="google btn d-flex justify-content-center align-items-center"
          (click)="signInWith('google')"
        >
          <fa-icon [icon]="icons.faGoogle" class="me-3"></fa-icon> Login with
          Google
        </button>
      </div>
      }
    </div>
    } }
  </div>
  } @else {
  <div class="modal-body">
    <app-loader class="d-flex justify-content-center"></app-loader>
  </div>
  }
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
      {{ closeBtnName }}
    </button>
  </div>
</div>
