<div class="social-login">
  <button
    type="button"
    class="facebook btn d-flex justify-content-center align-items-center"
    (click)="signInWithSocial('facebook')"
  >
    <fa-icon [icon]="icons.faFacebookF" class="me-3"></fa-icon>
    Login with Facebook
  </button>
  <button
    type="button"
    class="twitter btn d-flex justify-content-center align-items-center"
    (click)="signInWithSocial('twitter')"
  >
    <fa-icon [icon]="icons.faXTwitter" class="me-3"></fa-icon> Login with X
    (initially known as Twitter)
  </button>
  <button
    type="button"
    class="google btn d-flex justify-content-center align-items-center"
    (click)="signInWithSocial('google')"
  >
    <fa-icon [icon]="icons.faGoogle" class="me-3"></fa-icon> Login with Google
  </button>
</div>
