<div *ngIf="products$ | async as products" class="pb-4">
  <h4 class="text-center pb-2">{{ products[0].category.name }}</h4>
  <ng-container *ngIf="products.length; else noProducts">
    <carousel
      [itemsPerSlide]="itemsPerSlide"
      [singleSlideOffset]="singleSlideOffset"
      [interval]="0"
      [noWrap]="true"
      data-slider="custom-slider"
      class="d-flex justify-content-center"
    >
      <slide *ngFor="let product of products">
        <!-- change showAddBtn to true -->
        <app-products-category-slider-item
          [item]="product"
        ></app-products-category-slider-item>
      </slide> </carousel
  ></ng-container>
  <ng-template #noProducts>
    <div class="text-center">
      <p class="fs-4">This category has no products...</p>
    </div>
  </ng-template>
</div>
