<div *ngIf="products$ | async as products" class="pb-4">
  <ng-container *ngIf="products.length; else noProducts">
    <h4 class="text-center pb-2">{{ products[0].category.name }}</h4>
    <ng-container>
      <carousel
        [itemsPerSlide]="itemsPerSlide"
        [singleSlideOffset]="singleSlideOffset"
        [interval]="0"
        [noWrap]="true"
        [showIndicators]="showIndicator"
        data-slider="product-category-slider"
        class="d-flex justify-content-center"
      >
        <slide *ngFor="let product of products">
          <app-products-category-slider-item
            [item]="product"
          ></app-products-category-slider-item>
        </slide>
      </carousel>
    </ng-container>
  </ng-container>
  <ng-template #noProducts>
    <div class="text-center pt-3 pb-3">
      <p class="fs-4">This category has no products...</p>
    </div>
  </ng-template>
</div>
