<div
  class="d-flex product mb-2 position-relative border-top border-bottom pt-3 pb-3 align-items-start align-items-md-center flex-column flex-sm-row"
>
  <div class="product-img__wrapper">
    <img [src]="product.images[0] | clearURL | safeHTML" class="product-img" />
  </div>
  <div>
    <h4>{{ product.title | truncateText : 40 }}</h4>
    <div class="fs-5 mb-1">
      Category:
      <span class="fw-bolder">{{ product.category.name }}</span>
    </div>
    <div class="d-flex align-items-center product-quantity__btns mt-2 mb-2">
      <div class="fs-5">
        Quantity:
        <span class="fw-bolder">{{ product.quantity }}</span>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row product-prices fs-5">
      <div>
        Price for 1 item:
        <span class="fw-bolder">{{ product.price | currency : "PLN" }}</span>
      </div>
      <div>
        Total price:
        <span class="fw-bolder">{{
          product.price * product.quantity | currency : "PLN"
        }}</span>
      </div>
    </div>
  </div>
</div>
