.product {
  gap: 40px;

  &-img {
    width: 200px;
  }

  &-quantity__btns {
    gap: 25px;
  }

  &-prices {
    gap: 25px;
  }
}

@media (max-width: 568px) {
  .product {
    gap: 20px;
  }

  .product-img__wrapper {
    width: 100%;
  }

  .product-img {
    width: 100%;
  }
}
