.purchases {
  &-customer__view-shipping {
    ul {
      padding-top: 5px;
      li {
        padding-bottom: 5px;
      }
    }
  }

  &-customer__edit-shipping {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
