<div class="card">
  @if(customer$ | async; as customer){
  <div class="card-header fs-5">Information about customer</div>
  <div class="card-body">
    <tabset>
      <tab heading="View all">
        <app-view-customer-information [customer]="customer" />
      </tab>
      <tab heading="Edit info">
        <app-edit-customer-information
          [form]="customerUpdateForm"
          (onSubmit)="onUpdateSubmit()"
          (onCancel)="onCancelChanges()"
          (onReset)="onFormReset()"
        />
      </tab>
    </tabset>
  </div>
  }@else {
  <div class="d-flex justify-content-center pt-5 pb-5">
    <div class="user-information-loading"></div>
  </div>
  }
</div>
