<div
  class="delivery-details__list-item"
  style="
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  "
  [style.background-image]="'url(' + record.background?.url + ')'"
>
  <div class="delivery-details__list-item__dimming"></div>
  <div
    class="delivery-details__list-item__author text-white"
    *ngIf="record.background?.user as user"
  >
    Photo by
    <a [href]="user.link" target="_blank" class="text-white">{{ user.name }}</a>
  </div>
  <div class="delivery-details__list-item__btns">
    <button
      type="button"
      class="btn btn-success"
      (click)="recordEdit.emit(record.id!)"
    >
      <fa-icon [icon]="icons.editIcon" />
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="recordRemove.emit(record.id!)"
      [disabled]="removeActive"
    >
      <fa-icon [icon]="icons.deleteIcon" />
    </button>
  </div>
  <div
    class="text-white position-relative d-flex flex-column justify-content-center"
  >
    <ul>
      <h6>Delivery information:</h6>
      <li>Name: {{ record.name }}</li>
      <li>Phone: {{ record.phone }}</li>
    </ul>
    <ul *ngIf="record.address as address">
      <h6>Address:</h6>
      <li>Coutry: {{ address.country }}</li>
      <li>City: {{ address.city }}</li>
      <li>Address line 1: {{ address.line1 }}</li>
      <li>Address line 2: {{ address.line2 }}</li>
      <li>Postal code: {{ address.postal_code }}</li>
    </ul>
  </div>
</div>
