<div class="card" *ngIf="!transactionsLoading; else loading">
  <div class="card-header d-flex justify-content-between align-items-center">
    <span class="fs-5">Last customer purchases</span>
    <span>Number of purchases: {{ (transactions$ | async)?.length }}</span>
  </div>
  <div class="card-body">
    <div *ngIf="transactions$ | async as transactions">
      <div
        class="d-flex flex-wrap pb-4"
        style="gap: 25px"
        *ngIf="visibleTransactions$ | async as visibleTransactions"
      >
        <app-purchase-thumbnail
          *ngFor="let transaction of visibleTransactions"
          [transaction]="transaction"
        ></app-purchase-thumbnail>
      </div>
      <pagination
        class="d-flex justify-content-center"
        [itemsPerPage]="4"
        [totalItems]="transactions.length"
        (pageChanged)="pageChanged($event)"
      ></pagination>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="d-flex justify-content-center pt-5 pb-5">
    <div class="loader"></div>
  </div>
</ng-template>
