<div class="card">
  <div
    class="card-header d-flex justify-content-between align-items-start align-items-sm-center flex-column flex-sm-row"
  >
    <span class="fs-5 pb-2 pb-sm-0">Last customer purchases</span>
    <span>Number of last purchases: {{ (transactions$ | async)?.length }}</span>
  </div>
  <div class="card-body">
    <div *ngIf="(transactions$ | async)?.length; else noTransactions">
      <ng-container *ngIf="transactions$ | async as transactions">
        <div
          class="d-flex flex-wrap justify-content-center pb-4"
          style="gap: 25px"
        >
          <app-purchase-thumbnail
            *ngFor="let transaction of transactions"
            [transaction]="transaction"
          ></app-purchase-thumbnail>
        </div>
      </ng-container>
    </div>
    <ng-template #noTransactions>
      <div class="pt-3 pb-3">
        <h4 class="text-center">You have not made any purchase yet...</h4>
      </div>
    </ng-template>
  </div>
</div>
