.product {
  gap: 30px;
}
.product-btns {
  gap: 20px;
}
.product-image__slider-wrapper {
  max-width: 350px;
}
.category-group {
  gap: 20px;
}
.product-image__slider-item {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

@media (max-width: 400px) {
  .product-btns {
    gap: 10px;
    flex-direction: column;
  }
}
