<div class="container">
  <ul *ngIf="visibleProducts$ | async as products">
    <li class="row row-cols-1 row-cols-md-4 g-4">
      @for (product of products; track $index) {
      <div class="col">
        <app-single-product [item]="product"></app-single-product>
      </div>
      }
    </li>
  </ul>
  <div class="d-flex justify-content-center pt-2">
    <pagination
      [totalItems]="(products$ | async)!.length"
      (pageChanged)="pageChanged($event)"
      [itemsPerPage]="8"
    ></pagination>
  </div>
  @if (error$ | async) {
  <p>{{ error$ | async }}</p>
  }
</div>
