<main
  class="main"
  [class.withHeader]="headerFooterAvailable"
  [class.withoutHeader]="!headerFooterAvailable"
>
  @if (headerFooterAvailable) {
  <app-header />
  }
  <div class="content">
    @if(checkoutLoading$ | async) {
    <app-checkout-loading />
    } @if(headerFooterAvailable) {
    <app-breadcrumbs />
    }
    <router-outlet></router-outlet>
    <button
      type="button"
      (click)="openModal()"
      class="d-none"
      id="openModalBtn"
    ></button>
  </div>
  @if(headerFooterAvailable) {
  <app-footer /> }
</main>
