<main
  class="main"
  [ngClass]="headerFooterAvailable ? 'withHeader' : 'withoutHeader'"
>
  <app-header *ngIf="headerFooterAvailable"></app-header>
  <div class="content">
    <app-checkout-loading *ngIf="checkoutLoading$ | async" />
    <app-breadcrumbs *ngIf="headerFooterAvailable"></app-breadcrumbs>
    <router-outlet></router-outlet>
    <button
      type="button"
      (click)="openModal()"
      class="d-none"
      id="openModalBtn"
    ></button>
  </div>
  <app-footer *ngIf="headerFooterAvailable"></app-footer>
</main>
