$color_1: #b3b3b3;
$color_2: #888;
$color_3: #fff;
$font-family_1: "Roboto", sans-serif;
$font-family_2: "icomoon";
$background-color_1: #fff;
$background-color_2: #7e0cf5;
$border-color_1: #7b7b7b;

body {
  font-family: $font-family_1;
  background-color: $background-color_1;
}
p {
  color: $color_1;
  font-weight: 300;
}
h1 {
  font-family: $font-family_1;
}
h2 {
  font-family: $font-family_1;
  font-size: 20px;
}
h3 {
  font-family: $font-family_1;
}
h4 {
  font-family: $font-family_1;
}
h5 {
  font-family: $font-family_1;
}
h6 {
  font-family: $font-family_1;
}
.h1 {
  font-family: $font-family_1;
}
.h2 {
  font-family: $font-family_1;
}
.h3 {
  font-family: $font-family_1;
}
.h4 {
  font-family: $font-family_1;
}
.h5 {
  font-family: $font-family_1;
}
.h6 {
  font-family: $font-family_1;
}
a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  &:hover {
    text-decoration: none !important;
  }
}
.content {
  padding: 7rem 0;
}
.half {
  height: 100vh;
  .container {
    > .row {
      height: 100vh;
    }
  }
  .contents {
    width: 50%;
    .form-group {
      overflow: hidden;
      margin-bottom: 0;
      border: 1px solid #efefef;
      padding: 15px 15px;
      border-bottom: none;
      position: relative;
      label {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease;
        font-size: 12px;
        display: block;
        margin-bottom: 0;
        color: $color_1;
      }
      input {
        &:focus {
          + {
            label {
              margin-top: -20px;
            }
          }
        }
      }
    }
    .form-group.first {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
    .form-group.last {
      border-bottom: 1px solid #efefef;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }
    .form-group.field--not-empty {
      label {
        margin-top: -20px;
      }
    }
    .form-control {
      border: none;
      padding: 0;
      font-size: 20px;
      border-radius: 0;
      &:active {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      &:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  .bg {
    width: 50%;
    background-size: cover;
    background-position: center;
    .form-group {
      overflow: hidden;
      margin-bottom: 0;
      border: 1px solid #efefef;
      border-bottom: none;
      position: relative;
      label {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease;
        font-size: 12px;
        display: block;
        margin-bottom: 0;
        color: $color_1;
        padding-left: 15px;
      }
      input {
        &:focus {
          + {
            label {
              margin-top: -20px;
            }
          }
        }
      }
    }
    .form-group.first {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
    .form-group.last {
      border-bottom: 1px solid #efefef;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }
    .form-group.field--not-empty {
      label {
        margin-top: -20px;
      }
    }
    .form-control {
      border: none;
      padding: 15;
      font-size: 20px;
      border-radius: 0;

      &:active {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      &:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  a {
    color: $color_2;
    text-decoration: underline;
  }
  .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px;
  }
}
.social-login {
  a {
    display: block;
    text-decoration: none;
    display: block;
    position: relative;
    text-align: center;
    color: $color_3;
    margin-bottom: 10px;
    &:hover {
      color: $color_3;
    }
  }
  a.facebook {
    background: #3b5998;
    &:hover {
      background: #344e86;
    }
  }
  a.twitter {
    background: #1da1f2;
    &:hover {
      background: #0d95e8;
    }
  }
  a.google {
    background: #ea4335;
    &:hover {
      background: #e82e1e;
    }
  }
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  .caption {
    position: relative;
    top: 0.2rem;
    color: $color_2;
  }
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:focus {
      ~ {
        .control__indicator {
          background: #ccc;
        }
      }
    }
    &:checked {
      ~ {
        .control__indicator {
          background: #007bff;
          &:after {
            display: block;
            color: $color_3;
          }
        }
      }
      &:focus {
        ~ {
          .control__indicator {
            background: #1a88ff;
          }
        }
      }
    }
    &:disabled {
      ~ {
        .control__indicator {
          background: #e6e6e6;
          opacity: 0.9;
          pointer-events: none;
        }
      }
    }
  }
  &:hover {
    input {
      ~ {
        .control__indicator {
          background: #ccc;
        }
      }
      &:not([disabled]) {
        &:checked {
          ~ {
            .control__indicator {
              background: #1a88ff;
            }
          }
        }
      }
    }
  }
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
  &:after {
    font-family: $font-family_2;
    content: "\2713";
    position: absolute;
    display: none;
    font-size: 16px;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
}
.control--radio {
  .control__indicator {
    border-radius: 50%;
  }
}
.control--checkbox {
  .control__indicator {
    &:after {
      top: 50%;
      left: 50%;
      margin-top: -1px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  input {
    &:disabled {
      ~ {
        .control__indicator {
          &:after {
            border-color: $border-color_1;
          }
        }
      }
      &:checked {
        ~ {
          .control__indicator {
            background-color: $background-color_2;
            opacity: 0.2;
          }
        }
      }
    }
  }
}

.form-group {
  &.formError {
    border: 1px solid red !important;
  }
}

.form-control {
  &::placeholder {
    font-size: 16px;
    color: $color_1;
  }
}

@media (max-width: 991.98px) {
  .half {
    .bg {
      height: 500px;
    }
  }
}
@media (max-width: 1199.98px) {
  .half {
    .contents {
      width: 100%;
    }
    .bg {
      width: 100%;
    }
  }
}
