<a
  class="card"
  style="width: 18rem; height: 100%"
  [class.position-relative]="innerTitle"
>
  <h5
    class="p-2 text-center position-absolute card-inner__title"
    *ngIf="innerTitle"
  >
    {{ innerTitle | titlecase }}
  </h5>
  <img
    [src]="product.images[0] | clearURL | safeHTML"
    class="card-img-top"
    style="height: 286px"
    alt="product"
  />
  <div class="card-body card-display">
    <h5 class="card-title">{{ product.title | truncateText : 50 }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Category:
      <a
        class="text-muted"
        [routerLink]="['/products']"
        [queryParams]="{ category: product.category.name }"
        >{{ product.category.name }}</a
      >
    </h6>
    <p class="card-text">{{ product.description | truncateText : 100 }}</p>
    <div>
      <p class="fs-3 text-center">
        Price:<span class="fw-bolder ms-1">{{
          product.price | currency : "PLN"
        }}</span>
      </p>
      <div class="d-flex card-btns">
        <button
          class="btn btn-primary"
          [class.d-none]="!showAddBtn"
          (click)="onAddToCart()"
          [disabled]="isAlreadyInCart"
        >
          {{ (isAlreadyInCart ? "In cart" : "Add to cart") | uppercase }}
        </button>
        <a
          class="btn btn-danger"
          [routerLink]="['/product', product.id]"
          [queryParams]="{ source: 'api', type: specialType }"
          [class.w-100]="!showAddBtn"
          >{{ "Go to page" | uppercase }}</a
        >
      </div>
    </div>
  </div>
</a>
