<a class="card" style="width: 18rem; height: 100%">
  <img
    [src]="product.images[0] | clearURL | safeHTML"
    class="card-img-top"
    alt="product"
  />
  <div class="card-body card-display">
    <h5 class="card-title">{{ product.title | truncateText : 50 }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Category:
      <a
        class="text-muted"
        [routerLink]="['/products']"
        [queryParams]="{ category: product.category.name }"
        >{{ product.category.name }}</a
      >
    </h6>
    <p class="card-text">{{ product.description | truncateText : 100 }}</p>
    <p class="fs-3 text-center">
      Price:<span class="fw-bolder ms-1">{{
        product.price | currency : "PLN"
      }}</span>
    </p>
    <div class="d-flex card-btns">
      <button
        class="btn btn-primary"
        (click)="onAddToCart()"
        [disabled]="isAlreadyInCart"
      >
        {{ "Add to cart" | uppercase }}
      </button>
      <a class="btn btn-danger" [routerLink]="['/product', product.id]">{{
        "Go to page" | uppercase
      }}</a>
    </div>
  </div>
</a>
