<div class="d-flex flex-column flex-lg-row promotions">
  @if(canBeInterestingProduct) {
  <app-single-product
    [item]="canBeInterestingProduct"
    [showAddBtn]="false"
    innerTitle="Could be interesting for you"
  ></app-single-product>
  } @if(productOfTheDay) {
  <app-single-product
    [item]="productOfTheDay"
    [showAddBtn]="false"
    innerTitle="Product of the day"
  ></app-single-product>
  } @if(theMostExpensiveProduct) {
  <app-single-product
    [item]="theMostExpensiveProduct"
    [showAddBtn]="false"
    innerTitle="The most elite product"
  ></app-single-product>
  }
</div>
