<div class="pt-3 pb-3">
  <app-basic-card [item]="userInformationItem"></app-basic-card>

  <div>
    <div *ngIf="customer$ | async as customer; else noCustomer">
      <div class="card">
        <div class="card-header fs-5">Information about customer</div>
        <div class="card-body">
          <tabset>
            <tab heading="View">
              <div class="pt-3 pb-3">
                <div class="d-flex justify-content-between align-items-center">
                  <h4>{{ customer.email }}</h4>
                  <p>
                    Created: {{ customer.created * 1000 | date : "medium" }}
                  </p>
                </div>
                <div>
                  <div class="pb-2">
                    <span class="fw-bold">Name:</span>
                    {{ customer.name ?? "unknown" }}
                  </div>
                  <div class="pb-2">
                    <span class="fw-bold">Description:</span>
                    {{ customer.description ?? "unknown" }}
                  </div>
                  <div class="purchases-customer__view-address">
                    <span class="fw-bold">Address:</span>
                    <ul>
                      <li>
                        <span class="fw-bold">Country:</span>
                        {{ customer.address?.country ?? "unknown" }}
                      </li>
                      <li>
                        <span class="fw-bold">City:</span>
                        {{ customer.address?.city ?? "unknown" }}
                      </li>
                      <li>
                        <span class="fw-bold">Address:</span>
                        {{ customer.address?.line1 ?? "unknown" }}
                      </li>
                      <li>
                        <span class="fw-bold">Postal code:</span>
                        {{ customer.address?.postal_code ?? "unknown" }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Edit">
              <div class="pt-3 pb-3">
                <form
                  [formGroup]="customerUpdateForm"
                  (ngSubmit)="onUpdateSubmit()"
                >
                  <div class="row">
                    <div class="form-group col">
                      <label
                        for="customerName"
                        [style.color]="
                          customerUpdateForm.controls.name.invalid ? 'red' : ''
                        "
                        >Name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="customerName"
                        placeholder="Name"
                        formControlName="name"
                        tooltip="Hello there! I was triggered manually"
                        triggers=""
                        #nameTooltip="bs-tooltip"
                        [class.error]="customerUpdateForm.controls.name.invalid"
                      />
                    </div>
                    <div class="form-group col">
                      <label
                        for="customerDescription"
                        [style.color]="
                          customerUpdateForm.controls.description.invalid
                            ? 'red'
                            : ''
                        "
                        >Description</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="customerDescription"
                        placeholder="Description"
                        formControlName="description"
                        tooltip="Hello there! I was triggered manually"
                        triggers=""
                        #descriptionTooltip="bs-tooltip"
                        [class.error]="
                          customerUpdateForm.controls.description.invalid
                        "
                      />
                    </div>
                  </div>
                  <div class="pt-4 pb-3">
                    <h5 class="pb-1">Address</h5>
                    <div
                      formGroupName="address"
                      class="purchases-customer__edit-address"
                      tooltip="Hello there! I was triggered manually"
                      triggers=""
                      #addressTooltip="bs-tooltip"
                    >
                      <div class="form-group">
                        <label
                          for="customerCountry"
                          [style.color]="
                            customerUpdateForm.controls.address.invalid
                              ? 'red'
                              : ''
                          "
                          >Country (PL/UA)</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="customerCountry"
                          placeholder="Country"
                          formControlName="country"
                          [class.error]="
                            customerUpdateForm.controls.address.invalid
                          "
                        />
                      </div>
                      <div class="form-group">
                        <label
                          for="customerCity"
                          [style.color]="
                            customerUpdateForm.controls.address.invalid
                              ? 'red'
                              : ''
                          "
                          >City</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="customerCity"
                          placeholder="City"
                          formControlName="city"
                          [class.error]="
                            customerUpdateForm.controls.address.invalid
                          "
                        />
                      </div>
                      <div class="form-group">
                        <label
                          for="customerAddress"
                          [style.color]="
                            customerUpdateForm.controls.address.invalid
                              ? 'red'
                              : ''
                          "
                          >Address</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="customerAddress"
                          placeholder="Address"
                          formControlName="address"
                          [class.error]="
                            customerUpdateForm.controls.address.invalid
                          "
                        />
                      </div>
                      <div class="form-group">
                        <label
                          for="customerPostalCode"
                          [style.color]="
                            customerUpdateForm.controls.address.invalid
                              ? 'red'
                              : ''
                          "
                          >Postal code</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="customerPostalCode"
                          placeholder="Postal code"
                          formControlName="postalCode"
                          [class.error]="
                            customerUpdateForm.controls.address.invalid
                          "
                        />
                      </div>
                      <div class="d-flex align-items-end" style="gap: 25px">
                        <button
                          type="submit"
                          class="btn btn-primary w-100"
                          [disabled]="
                            customerUpdateForm.invalid ||
                            !customerUpdateForm.touched
                          "
                        >
                          Save changes
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger w-100"
                          [disabled]="customerUpdateForm.untouched"
                          (click)="onCancelChanges()"
                        >
                          Cancel changes
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div></tab
            >
          </tabset>
        </div>
      </div>

      <!-- address
      currency
      description
      name
      shipping
      preferred_locales
      default_source or source -->
    </div>
    <ng-template #noCustomer> <p>There is no customer</p></ng-template>
  </div>
</div>
