<div class="pt-3 pb-3">
  <app-basic-card [item]="userInformationItem"></app-basic-card>
  <app-card-form
    [customerId]="customerId"
    [formEnableValue]="formEnableValue"
    [cardForEditing]="cardForEditing"
    (sendNewCard)="handleNewCard($event)"
    (formReset)="handleFormReset()"
  ></app-card-form>
  <div class="pt-4 pb-4">
    <h3 class="text-center pb-2">All customer cards</h3>
    <div *ngIf="cards$ | async as cards">
      <ng-container *ngIf="cards.length; else noCards">
        <div
          class="d-flex"
          style="gap: 25px"
          [class.text-danger]="cards.length === sizeRestriction"
        >
          <p>
            Allowed number of cards:
            <span class="fw-bold">{{ sizeRestriction }}</span>
          </p>
          <p>
            Your number of cards:
            <span class="fw-bold">{{ cards.length }}</span>
          </p>
        </div>
        <div class="d-flex flex-wrap" style="gap: 40px; padding: 0 10px">
          <app-card-item
            *ngFor="let card of cards"
            [card]="card"
            [removeActive]="!!cardForEditing"
            (cardEdit)="handleEditCardRequest($event)"
            (cardRemove)="handleRemoveCardRequest($event)"
          ></app-card-item>
        </div>
      </ng-container>
      <ng-template #noCards>
        <div class="pt-3 pb-3 text-center">
          <h4>You have not added any card yet...</h4>
        </div>
      </ng-template>
    </div>
  </div>
</div>
