<div class="product-slider__wrapper">
  <carousel [noPause]="false" data-slider="product-slider">
    <slide
      *ngFor="let item of sliderItems; index as idx"
      class="position-relative product-slider__slide"
    >
      <div class="product-slider__slide-blackout"></div>
      <img
        [ngSrc]="item.path"
        class="product-slider__slide-image"
        alt="slider image"
        [width]="1296"
        [height]="600"
        priority="lazy"
      />
      <div class="carousel-caption product-slider__slide-content">
        <h4>NgRxShop</h4>
        <div #slideContentRef></div>
      </div>
    </slide>
  </carousel>
</div>
