<div class="container">
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  <app-product-slider></app-product-slider>
  <div class="d-flex align-items-center pb-4" style="gap: 35px">
    <app-user-sidebar></app-user-sidebar>
    <app-products-promotions></app-products-promotions>
  </div>
  <div class="pb-4">
    <h4 class="text-center pb-2">Clothes</h4>
    <app-products-category-slider
      categoryName="clothes"
    ></app-products-category-slider>
  </div>
  <div class="pb-4">
    <h4 class="text-center pb-2">Furniture</h4>
    <app-products-category-slider
      categoryName="furniture"
    ></app-products-category-slider>
  </div>
  <app-grid-gallery></app-grid-gallery>
</div>
<app-sponsors></app-sponsors>
<div class="container">
  <p>some video of our products or our shop in general</p>
  <p>write to us some questions</p>
</div>
