<div class="container">
  <app-product-slider></app-product-slider>
  <div
    class="d-flex align-items-center pb-4 flex-column flex-xxl-row"
    style="gap: 35px"
  >
    <app-user-sidebar class="w-100"></app-user-sidebar>
    <app-products-promotions></app-products-promotions>
  </div>
  <div class="pb-4">
    <app-products-category-slider categoryId="1"></app-products-category-slider>
  </div>
  <!-- <div class="pb-4">
    <app-products-category-slider categoryId="2"></app-products-category-slider>
  </div>
  <app-grid-gallery></app-grid-gallery>-->
</div>
<!-- <app-sponsors></app-sponsors>
<app-video-section></app-video-section>
<div class="container">
  <app-contact-us></app-contact-us>
</div> -->
