<div class="container">
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  <app-product-slider></app-product-slider>
  <div class="d-flex">
    <p>
      sidebar with basic info of user (img if there is one, email, username,
      data of registration, number of purchases, number of favourites and so on)
      or zachęta to sign-in or sign-up
    </p>
    <p>
      products of some categories (for example, product of the day or smtg like
      that)
    </p>
  </div>
  <p>something with grid</p>
  <p>slider with our sponsors (idk but sounds fine)</p>
  <p>some video of our products or our shop in general</p>
  <p>write to us some questions</p>
</div>
