<div class="d-flex">
  <div
    class="d-flex flex-column flex-shrink-0 bg-light position-relative"
    style="max-width: 280px; width: 100%; margin-top: -23px"
  >
    <div class="p-3" style="position: fixed; width: 280px">
      <div class="w-100">
        <a
          [routerLink]="['/user-information']"
          class="d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
        >
          <span class="fs-4">NgRxShop User</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['personal-information']">
              <fa-icon [icon]="sidebarIcons.faInfo" class="me-3"></fa-icon>
              General
            </a>
          </li>
          <li>
            <a
              class="nav-link link-dark"
              [routerLink]="['personal-information']"
            >
              <fa-icon [icon]="sidebarIcons.faPerson" class="me-3"></fa-icon>
              Personal information
            </a>
          </li>
          <li>
            <a class="nav-link link-dark" [routerLink]="['purcheses']">
              <fa-icon
                [icon]="sidebarIcons.faBasketShopping"
                class="me-3"
              ></fa-icon>
              Purcheses
            </a>
          </li>
          <li>
            <a class="nav-link link-dark" [routerLink]="['delivery-details']">
              <fa-icon
                [icon]="sidebarIcons.faEarthEurope"
                class="me-3"
              ></fa-icon>
              Delivery details
            </a>
          </li>
          <li>
            <a class="nav-link link-dark" [routerLink]="['card-details']">
              <fa-icon
                [icon]="sidebarIcons.faCreditCard"
                class="me-3"
              ></fa-icon>
              Card details
            </a>
          </li>
          <li>
            <a class="nav-link link-dark" [routerLink]="['favorite-products']">
              <fa-icon
                [icon]="sidebarIcons.faHeartCircleCheck"
                class="me-3"
              ></fa-icon>
              Favorite products
            </a>
          </li>
        </ul>
        <hr />
        <div class="dropdown">
          <a
            class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://avatars.githubusercontent.com/u/122775021?v=4"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />
            <strong>mdo</strong>
          </a>
          <ul
            class="dropdown-menu text-small shadow"
            aria-labelledby="dropdownUser2"
          >
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 h-100">
    <router-outlet></router-outlet>
  </div>
</div>
