.personal-info {
  &__settings-password {
    &__inner,
    &__btn {
      max-width: 400px;
      width: 100%;
    }
  }
}

@media (max-width: 991px) {
  .personal-info__settings-password__inner,
  .personal-info__settings-password__btn {
    max-width: 100%;
  }
}
