<div class="personal-info__settings-password">
  @if (isPasswordChangeMode) {
  <div class="d-flex align-items-end w-100" style="gap: 25px">
    <div class="flex-shrink-0 personal-info__settings-password__inner">
      <label for="changePassword" class="fw-bold fs-5 pb-2"
        >Change password</label
      >
      <input
        type="password"
        class="form-control"
        id="changePassword"
        [formControl]="passwordControl"
      />
      <div class="d-flex h-100 w-100 pt-2" style="gap: 10px">
        <button
          class="btn btn-primary w-100"
          [disabled]="passwordForm.invalid"
          (click)="savePassword.emit()"
        >
          Update
        </button>
        <button
          class="btn btn-danger w-100"
          (click)="cancelPasswordChange.emit()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
  } @else {
  <div class="personal-info__settings-password__btn">
    <button class="btn btn-dark w-100" (click)="togglePasswordChange.emit()">
      Change password
      <fa-icon [icon]="passwordIcon" class="ms-1"></fa-icon>
    </button>
  </div>
  }
</div>
