<div class="row">
  <div class="col-md-3">
    <div class="dbox w-100 px-5 text-center">
      <div class="icon d-flex align-items-center justify-content-center">
        <fa-icon [icon]="icons.faLocationDot" class="text-white"></fa-icon>
      </div>
      <div class="w-full">
        <p class="mb-0">
          <span class="font-medium bg-black">Address:</span> 14000, Mikhail
          Grushevsky Avenue 180, Chernihiv, Ukraine
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dbox w-100 text-center">
      <div class="icon d-flex align-items-center justify-content-center">
        <fa-icon [icon]="icons.faPhone" class="text-white"></fa-icon>
      </div>
      <div class="text">
        <p>
          <span>Phone:</span>
          <a href="tel:+380931926350" class="text-[#6e6e6e]">
            +380 50 679 90 14</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dbox w-100 text-center">
      <div class="icon d-flex align-items-center justify-content-center">
        <fa-icon [icon]="icons.faAt" class="text-white"></fa-icon>
      </div>
      <div class="text">
        <p>
          <span>Email:</span>
          <a href="mailto:dimka670020040@gmail.com">
            dimka670020040&#64;gmail.com</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dbox w-100 text-center">
      <div class="icon d-flex align-items-center justify-content-center">
        <fa-icon [icon]="icons.faGlobe" class="text-white"></fa-icon>
      </div>
      <div class="text">
        <p>
          <span>Website: </span>
          <a
            href="https://github.com/ShadowDrake21"
            target="_blank"
            ref="noopener noreferrer"
            >GitHub.com</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
