<div class="pt-3 pb-3">
  <app-basic-card [item]="userInformationItem"></app-basic-card>

  <div class="border w-100 h-100 p-5" *ngIf="user$ | async as user">
    <div *ngIf="user.userCredential!.providerData[0] as userCredentialData">
      <div class="d-flex" style="gap: 50px">
        <div
          class="personal-info__image-change"
          #changeImageEl
          [class.disabled]="isProfileChanged"
        >
          <input
            type="file"
            accept="image/png, image/jpeg"
            id="input-change"
            #changeImageInput
          />
          <div class="personal-info__image-change__icon">
            <img
              src="/assets/images/icons/image-editing.png"
              alt="change-img"
            />
          </div>
          <img
            [src]="userPhotoURL"
            alt="user img"
            class="personal-info__image-change__img"
          />
        </div>
        <div class="personal-info__displayname">
          <div class="w-100 pb-4">
            <div class="pb-3">
              <label for="displayName" class="fw-bold fs-5 pb-2"
                >Username</label
              >
              <input
                type="text"
                class="form-control"
                id="displayName"
                #displayName
                [(ngModel)]="newDisplayName"
                [disabled]="isProfileChanged"
              />
            </div>
            <button
              type="button"
              class="btn btn-success w-100"
              (click)="onToggleChangeMode()"
              [class.d-none]="isProfileChanged"
            >
              Turn to {{ isChangeMode ? "view" : "change" }} mode
              <fa-icon [icon]="settingsIcon"></fa-icon>
            </button>
          </div>

          <div
            *ngIf="controlButtonsActive"
            class="d-flex justify-content-between"
            style="gap: 25px"
          >
            <button
              class="btn btn-primary w-100"
              (click)="onSaveChanges()"
              [disabled]="!saveButtonActive"
            >
              Save changes
            </button>
            <button class="btn btn-danger w-100" (click)="onCancel()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
