.personal-info {
  &__loading {
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image-change {
    position: relative;
    width: 300px;
    height: 350px;

    &:hover {
      .personal-info__image-change__icon {
        opacity: 1;
      }
    }

    &:hover::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);

      cursor: pointer;
    }

    &.viewMode {
      pointer-events: none;
      &:hover {
        .personal-info__image-change__icon {
          display: none;
        }
      }
      &:hover::after {
        content: none;
      }
    }
  }

  &__image-change__icon {
    position: absolute;
    z-index: 98;
    width: 60px;
    height: 60px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    cursor: pointer;

    opacity: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__image-change__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__settings-left {
    flex-shrink: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
      width: 100%;
    }
  }
  &__settings-right {
    width: 100%;
  }

  &__settings-username {
    max-width: 400px;
    width: 100%;
  }

  &__settings-password {
    &__inner,
    &__btn {
      max-width: 400px;
      width: 100%;
    }
  }
}
#input-change {
  position: absolute;
  z-index: 99;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
}
