<div class="pt-3 pb-3">
  <app-basic-card [item]="userInformationItem"></app-basic-card>

  <div class="border w-100 h-100 p-5" *ngIf="user$ | async as user">
    <div *ngIf="user.userCredential!.providerData[0] as userCredentialData">
      <div class="d-flex">
        <div class="personal-info__image-change" #changeImageEl>
          <input
            type="file"
            accept="image/png, image/jpeg"
            id="input-change"
            #changeImageInput
          />
          <div class="personal-info__image-change__icon">
            <img
              src="/assets/images/icons/image-editing.png"
              alt="change-img"
            />
          </div>
          <img
            [src]="userPhotoURL"
            alt="user img"
            class="personal-info__image-change__img"
          />
        </div>
        <div>
          <input type="text" class="form-control" [(ngModel)]="displayName" />
          {{ displayName | json }}
        </div>
      </div>
      <div>
        <button
          class="btn btn-primary"
          (click)="onSaveChanges()"
          [disabled]="!areThereChanges"
        >
          Save changes
        </button>
        <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
