<div class="pt-3 pb-3">
  <app-basic-card [data]="userInformationItem"></app-basic-card>
  @if(!generalLoading) {
  <accordion [closeOthers]="true">
    @if (user$ | async) {
    <accordion-group heading="{{ 'main user info' | titlecase }}">
      <app-user-info [user]="user$"></app-user-info> </accordion-group
    >} @if (cartState$ | async; as cartState) {
    <accordion-group heading="{{ 'shopping cart content' | titlecase }}">
      @if (cartState.products; as products) { @if(products.length) {
      <div class="cart-product__list">
        @for (product of products; track $index) {
        <app-readonly-cart-item [product]="product" />
        }
      </div>
      <h3 class="text-end pt-4 pb-4">
        Total price: {{ cartState.totalPrice | currency : "PLN" }}
      </h3>
      } @else {
      <h4 class="text-center">No products in cart</h4>
      } }
    </accordion-group>
    }
    <accordion-group heading="{{ 'last purchese' | titlecase }}">
      <app-latest-purchase
        [latestTransaction]="latestTransaction$"
        [error]="latestTransactionError$"
      ></app-latest-purchase>
    </accordion-group>
    <accordion-group heading="{{ 'faq' | uppercase }}">
      <app-faq-tabs></app-faq-tabs>
    </accordion-group>
  </accordion>
  } @else {
  <div class="d-flex justify-content-center pt-5 pb-5">
    <div class="user-information-loading"></div>
  </div>
  }
</div>
