*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin-top: 0;
  margin-bottom: 0;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.withHeader {
  padding-top: 5rem;
}

.withoutHeader {
  padding-top: 0;
}

.content {
  flex: 1 1;
}

.modal-dialog {
  max-width: 900px;
  width: 100%;
}

.sign-in__modals {
  max-width: 500px;
}

.product-list {
  list-style: none;
}

[data-slider="custom-slider"] .carousel .carousel-indicators {
  background-color: #000;
  margin-bottom: 0;
  bottom: -23px;
}
