*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin-top: 0;
  margin-bottom: 0;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.withHeader {
  padding-top: 5rem;
}

.withoutHeader {
  padding-top: 0;
}

.content {
  flex: 1 1;
}

.modal-dialog {
  max-width: 900px;
  width: 100%;
}

.sign-in__modals,
.reauthentication-modal {
  max-width: 500px;
}

.full-screen__modal {
  padding: 50px 100px;
  max-width: 100%;
  width: 100%;
}

.product-list {
  list-style: none;
}

[data-slider="custom-slider"] .carousel {
  & .carousel-indicators {
    background-color: #000;
    margin-bottom: 0;
    bottom: -23px;
  }
  & .carousel-control {
    & .carousel-control-next-icon,
    & .carousel-control-prev-icon {
      background-color: #000;
    }
  }
}

.error {
  color: red !important;
  border-color: red !important;
  background-color: rgb(255, 227, 227) !important;
  &::placeholder {
    color: red !important;
  }
}

.faq-tabset .nav-tabs {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  li {
    width: 100%;

    a {
      padding: 15px 10px;
      span {
        display: block;
        width: 100%;
        text-wrap: nowrap;
        text-align: center;
      }
    }
  }
}
