<div class="pt-3 pb-3">
  <app-basic-card [item]="userInformationItem"></app-basic-card>
  <div *ngIf="!purchasesLoading; else loading">
    <div class="pb-4">
      <app-customer-information
        [customer]="customer$"
      ></app-customer-information>
    </div>
    <app-purchases-list [transactions]="transactions$"></app-purchases-list>
  </div>
  <ng-template #loading>
    <div class="d-flex justify-content-center align-items-center pt-5 pb-5">
      <div class="user-information-loading"></div>
    </div>
  </ng-template>
</div>
