a.card {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.card-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-indicators {
  bottom: -45px !important;
}
