<div class="pt-3 pb-3">
  <app-basic-card [item]="userInformationItem"></app-basic-card>
  <div *ngIf="!deliveryDetailsLoading; else loading">
    <app-delivery-record-form
      [customerId]="customerId"
      [formEnableValue]="formEnableValue"
      [recordForEditing]="recordForEditing"
      (sendNewDeliveryRecord)="handleNewDeliveryRecord($event)"
      (formReset)="handleFormReset()"
    ></app-delivery-record-form>
    <div class="pt-4 pb-4">
      <h3 class="text-center pb-2">All customer delivery records</h3>
      <div
        *ngIf="deliveryRecords$ | async as deliveryRecords"
        class="pb-4 w-100"
      >
        <ng-container *ngIf="deliveryRecords.length; else noRecords">
          <div
            class="d-flex"
            style="gap: 25px"
            [class.text-danger]="deliveryRecords.length === sizeRestriction"
          >
            <p>
              Allowed number of records:
              <span class="fw-bold">{{ sizeRestriction }}</span>
            </p>
            <p>
              Your number of records:
              <span class="fw-bold">{{ deliveryRecords.length }}</span>
            </p>
          </div>
          <div class="d-flex flex-wrap">
            <app-delivery-record-item
              *ngFor="let record of deliveryRecords"
              [record]="record"
              [removeActive]="!!recordForEditing"
              (recordEdit)="handleEditRecordRequest($event)"
              (recordRemove)="handleRemoveRecordRequest($event)"
              class="w-50"
            ></app-delivery-record-item>
          </div>
        </ng-container>
        <ng-template #noRecords>
          <div class="pt-3 pb-3 text-center">
            <h4>You have not added any delivery record yet...</h4>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div
      class="pt-3 pb-3 text-center"
      class="photos-details"
      style="
        background-image: url('/assets/images/delivery-details/loading.jpg');
      "
    >
      <div
        class="position-relative text-white w-100 h-100 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="d-flex justify-content-center pt-5 pb-5">
          <div class="user-information-loading" style="background: white"></div>
        </div>
        <p class="position-absolute" style="bottom: 15px">
          Photo by
          <a
            class="text-white"
            target="_blank"
            href="https://unsplash.com/@bipinsaxena?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            >BIPIN SAXENA</a
          >
          on
          <a
            class="text-white"
            target="_blank"
            href="https://unsplash.com/photos/woman-in-yellow-dress-shirt-PE_nl_9msOE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            >Unsplash</a
          >
        </p>
      </div>
    </div>
  </ng-template>
</div>
