<div class="pt-3 pb-3">
  <app-basic-card [item]="userInformationItem"></app-basic-card>
  <div class="delivery-details rounded">
    <div class="delivery-details__dimming"></div>
    <p class="text-white position-absolute delivery-details__bg-author">
      Photo by
      <a
        class="text-white"
        href="https://unsplash.com/@alanw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
        target="_blank"
        >Alan W</a
      >
      on
      <a
        class="text-white"
        href="https://unsplash.com/photos/yellow-van-parked-on-sidewalk-during-daytime-lAqf-_-6ovM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
        target="_blank"
        >Unsplash</a
      >
    </p>
    <h3 class="text-white position-relative text-center" style="z-index: 99">
      {{
        isEditMode
          ? "Edit an existing delivery record"
          : "Add a new delivery record"
      }}
    </h3>
    <form
      [formGroup]="shippingForm"
      class="d-flex justify-content-between text-white position-relative"
      style="z-index: 99; gap: 30px"
      (ngSubmit)="onSubmit()"
    >
      <div class="w-75 flex-shrink-1">
        <div class="row pb-2">
          <div class="form-group col">
            <label
              for="shippingName"
              [style.color]="
                shippingForm.controls.name.touched &&
                shippingForm.controls.name.invalid
                  ? 'red'
                  : ''
              "
              >Name</label
            >
            <input
              type="text"
              class="form-control"
              id="shippingName"
              placeholder="Name"
              formControlName="name"
              [class.error]="
                shippingForm.controls.name.touched &&
                shippingForm.controls.name.invalid
              "
            />
          </div>
          <div class="form-group col">
            <label
              for="shippingPhone"
              [style.color]="
                shippingForm.controls.phone.touched &&
                shippingForm.controls.phone.invalid
                  ? 'red'
                  : ''
              "
              >Phone</label
            >
            <input
              type="tel"
              class="form-control"
              id="shippingPhone"
              placeholder="Phone"
              formControlName="phone"
              [class.error]="
                shippingForm.controls.phone.touched &&
                shippingForm.controls.phone.invalid
              "
            />
          </div>
        </div>
        <div class="pt-4 pb-3">
          <h6 class="pb-1">Address info</h6>
          <div
            formGroupName="address"
            class="purchases-customer__edit-shipping"
          >
            <div class="row pb-2">
              <div class="form-group col">
                <label
                  for="customerCountry"
                  [style.color]="
                    shippingForm.controls.address.controls.country.touched &&
                    shippingForm.controls.address.controls.country.invalid
                      ? 'red'
                      : ''
                  "
                  >Country</label
                >
                <select
                  class="form-select"
                  id="customerCountry"
                  formControlName="country"
                  [class.error]="
                    shippingForm.controls.address.controls.country.touched &&
                    shippingForm.controls.address.controls.country.invalid
                  "
                >
                  <option selected disabled value="0">Country</option>
                  <option [ngValue]="'PL'">Poland</option>
                  <option [ngValue]="'UA'">Ukraine</option>
                </select>
              </div>
              <div class="form-group col">
                <label
                  for="customerCity"
                  [style.color]="
                    shippingForm.controls.address.controls.city.touched &&
                    shippingForm.controls.address.controls.city.invalid
                      ? 'red'
                      : ''
                  "
                  >City</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="customerCity"
                  placeholder="City"
                  formControlName="city"
                  [class.error]="
                    shippingForm.controls.address.controls.city.touched &&
                    shippingForm.controls.address.controls.city.invalid
                  "
                />
              </div>
            </div>
            <div class="row pb-2">
              <div class="form-group col">
                <label
                  for="customerLine1"
                  [style.color]="
                    shippingForm.controls.address.controls.line1.touched &&
                    shippingForm.controls.address.controls.line1.invalid
                      ? 'red'
                      : ''
                  "
                  >Address line 1</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="customerLine1"
                  placeholder="Street, PO Box, or company name"
                  formControlName="line1"
                  [class.error]="
                    shippingForm.controls.address.controls.line1.touched &&
                    shippingForm.controls.address.controls.line1.invalid
                  "
                />
              </div>
              <div class="form-group col">
                <label
                  for="customerLine2"
                  [style.color]="
                    shippingForm.controls.address.controls.line2.touched &&
                    shippingForm.controls.address.controls.line2.invalid
                      ? 'red'
                      : ''
                  "
                  >Address line 2</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="customerLine2"
                  placeholder="Apartment, suite, unit, or building"
                  formControlName="line2"
                  [class.error]="
                    shippingForm.controls.address.controls.line2.touched &&
                    shippingForm.controls.address.controls.line2.invalid
                  "
                />
              </div>
            </div>
            <div class="row d-flex align-items-end">
              <div class="form-group col">
                <label
                  for="customerPostalCode"
                  [style.color]="
                    shippingForm.controls.address.controls.postalCode.touched &&
                    shippingForm.controls.address.controls.postalCode.invalid
                      ? 'red'
                      : ''
                  "
                  >Postal code</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="customerPostalCode"
                  placeholder="Postal code"
                  formControlName="postalCode"
                  [class.error]="
                    shippingForm.controls.address.controls.postalCode.touched &&
                    shippingForm.controls.address.controls.postalCode.invalid
                  "
                />
              </div>
              <div class="col">
                <button
                  type="submit"
                  class="btn btn-primary w-100"
                  [disabled]="shippingForm.invalid"
                >
                  Save
                </button>
              </div>
              <div class="col">
                <button
                  type="button"
                  class="btn btn-danger w-100"
                  [disabled]="!shippingForm.touched && !isEditMode"
                  (click)="onFormReset()"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="d-flex flex-column justify-content-between w-25 flex-shrink-1"
      >
        <ul *ngIf="shippingForm.invalid" style="color: red">
          <li
            *ngIf="shippingForm.controls.name.errors?.['required'] && shippingForm.controls.name.touched"
          >
            Name field is mandatory
          </li>
          <li
            *ngIf="shippingForm.controls.name.errors?.['minlength'] || shippingForm.controls.name.errors?.['maxlength']"
          >
            Name must be at least 3 and maximum 40 characters long
          </li>
          <li
            *ngIf="shippingForm.controls.phone.errors?.['required'] && shippingForm.controls.phone.touched"
          >
            Phone field is mandatory
          </li>
          <li *ngIf="shippingForm.controls.phone.errors?.['pattern']">
            Incorrect phone format.
          </li>
          <li
            *ngIf="shippingForm.controls.address.controls.country.errors?.['required'] && shippingForm.controls.address.controls.country.touched"
          >
            Country field is mandatory
          </li>
          <li
            *ngIf="shippingForm.controls.address.controls.country.errors?.['pattern'] "
          >
            Incorrect country code
          </li>
          <li
            *ngIf="shippingForm.controls.address.controls.city.errors?.['required'] && shippingForm.controls.address.controls.city.touched"
          >
            City field is mandatory
          </li>
          <li
            *ngIf="shippingForm.controls.address.controls.line1.errors?.['required'] && shippingForm.controls.address.controls.line1.touched"
          >
            Line1 field is mandatory
          </li>
          <li
            *ngIf="shippingForm.controls.address.controls.line2.errors?.['required'] && shippingForm.controls.address.controls.line2.touched"
          >
            Line2 field is mandatory
          </li>
          <li
            *ngIf="shippingForm.controls.address.controls.postalCode.errors?.['required'] && shippingForm.controls.address.controls.postalCode.touched"
          >
            Postal code field is mandatory
          </li>
        </ul>
      </div>
    </form>
  </div>
  <div class="pt-4 pb-4">
    <h3 class="text-center pb-2">All customer delivery records</h3>
    <div
      *ngIf="deliveryRecords$ | async as deliveryRecords"
      class="d-flex flex-column align-items-center"
    >
      <div
        class="d-flex flex-wrap pb-4 w-100"
        *ngIf="visualDeliveryRecords$$ | async as visualDeliveryRecords"
      >
        <div
          class="delivery-details__list-item"
          *ngFor="let record of visualDeliveryRecords"
          style="
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          "
          [style.background-image]="'url(' + record.background?.url + ')'"
        >
          <div class="delivery-details__list-item__dimming"></div>
          <div
            class="delivery-details__list-item__author text-white"
            *ngIf="record.background?.user as user"
          >
            Photo by
            <a [href]="user.link" target="_blank" class="text-white">{{
              user.name
            }}</a>
          </div>
          <div class="delivery-details__list-item__btns">
            <button
              type="button"
              class="btn btn-success"
              (click)="editDeliveryRecord(record.id!)"
            >
              <fa-icon [icon]="icons.editIcon" />
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="removeDeliveryRecord(record.id!)"
            >
              <fa-icon [icon]="icons.deleteIcon" />
            </button>
          </div>
          <div
            class="text-white position-relative d-flex flex-column justify-content-center"
          >
            <ul>
              <h6>Delivery information:</h6>
              <li>Name: {{ record.name }}</li>
              <li>Phone: {{ record.phone }}</li>
            </ul>
            <ul *ngIf="record.address as address">
              <h6>Address:</h6>
              <li>Coutry: {{ address.country }}</li>
              <li>City: {{ address.city }}</li>
              <li>Address line 1: {{ address.line1 }}</li>
              <li>Address line 2: {{ address.line2 }}</li>
              <li>Postal code: {{ address.postal_code }}</li>
            </ul>
          </div>
        </div>
      </div>
      <pagination
        #paginator
        *ngIf="deliveryRecords.length > itemsPerPage"
        [totalItems]="deliveryRecords.length"
        [itemsPerPage]="itemsPerPage"
        (pageChanged)="pageChanged($event)"
      ></pagination>
    </div>
  </div>
</div>
