<div class="container">
  <div class="d-flex">
    <ng-content></ng-content>
    <ul
      class="row row-cols-1 g-4 product-list flex-grow-1 w-100"
      [ngClass]="tableSizeStyle"
      *ngIf="visibleProducts$ | async as products"
    >
      @if(products.length > 0) { @for (product of products; track $index) {
      <li class="col text-decoration-none">
        <app-single-product
          [item]="product"
          [isInCart]="
            (cartProductsIdxs$ | async)?.includes(product.id) ?? false
          "
          (onAddToCart)="handleAddToCart($event)"
        ></app-single-product>
      </li>
      }} @else{
      <div class="w-100 d-flex align-items-center justify-content-center">
        <p class="fw-bold fs-3">
          There is no product that meets these criteria...
        </p>
      </div>
      }
    </ul>
  </div>
  <div
    class="d-flex justify-content-center pt-2"
    *ngIf="
      (visibleProducts$ | async)?.length &&
      calcPageNum((listProducts$ | async)!.length, itemsPerPage)
    "
  >
    <pagination
      [totalItems]="(listProducts$ | async)!.length"
      (pageChanged)="pageChanged($event)"
      [itemsPerPage]="itemsPerPage"
    ></pagination>
  </div>
  @if (productError$ | async) {
  <p>{{ productError$ | async }}</p>
  }
</div>
