<div class="container">
  @if (title) {
  <h1 class="text-center mb-3">{{ title }}</h1>
  }
  <div class="d-flex products-list__wrapper" style="gap: 30px">
    <ng-content></ng-content>
    @if (visibleProducts$ | async; as products) {
    <div
      class="d-flex flex-wrap product-list flex-grow-1 w-100 justify-content-center pb-4"
      style="gap: 30px"
    >
      @if(products.length > 0 ) { @for (product of products; track $index) {
      <div class="text-decoration-none">
        <app-single-product
          [item]="product"
          [isInCart]="(product.id | productInCart | async) ?? false"
          (productAdded)="handleAddToCart($event)"
        ></app-single-product>
      </div>
      }} @else{ @if (productError$ | async) {
      <div class="w-100 d-flex align-items-center justify-content-center">
        <p class="fw-bold fs-3 text-center text-md-start">
          {{ productError$ | async }}
        </p>
      </div>
      } @else {
      <div class="w-100 d-flex align-items-center justify-content-center">
        <p class="fw-bold fs-3 text-center text-md-start">
          There is no product that meets these criteria...
        </p>
      </div>
      } }
    </div>
    }
  </div>
  @if ((visibleProducts$ | async)?.length && calcPageNum((listProducts$ |
  async)!.length, itemsPerPage) > 1) {
  <div class="d-flex justify-content-center pt-2">
    <pagination
      #paginationComponent
      [totalItems]="(listProducts$ | async)!.length"
      (pageChanged)="pageChanged($event)"
      [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize"
      [(ngModel)]="currentPage"
    ></pagination>
  </div>
  }
</div>
